.main_header {
    width:100% ; 
    height: 80px;
    background-color: #7d0000;
    position: fixed;
    display: flex;
    align-items: center;
    border-bottom:2px solid #fffadd;
    position: fixed;
    z-index: 10000;

}

.header_nav{
    gap: 20px;
    margin: 0 40px 0 auto;
}

.header_nav_text {
    font-size: 15px;
    color: #fffadd;
    gap: 20px;
    padding: 0 20px;
}

.main_shop {
    padding-left: 10px;
}

.main_shop_icon {
    height: 30px;
    object-fit: cover;
    padding: 0 0 0 10px;
}

.main_shop_name {
    font-size: 25px;
    font-family: 'Noto Serif JP', serif;
    padding-left: 20px;
    letter-spacing: 2px;
    color: #fffadd;
}

.main_hero {
    position: relative;
}

.hero_img {
    padding-top: -80px;
    margin-top: 80px;
}

.hero_text {
    font-size: 80px;
    writing-mode: vertical-rl;
    position: absolute;
    top: 30%;
    left: 45.5%;
    font-family: 'Noto Serif JP', serif;
}

.main_menu {
    background-image: url(../img/paper.jpeg);
    width: 100%;
    height: 1500px;
    margin-top: -80px;
    padding-top: 80px;
}

.main_menu_text {
    color: #7d0000;
    font-size: 48px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Noto Serif JP', serif;
}

.main_menu_subtext {
    color: #7d0000;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

.main_menu_slide {
    padding:50px 100px 0px 100px;
}
.slider {
    position:relative;
      z-index: 1;
      /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
      height: 60vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  }
  /*　背景画像設定　*/
  
  .slider-item01 {
      background:url(../img/メニュー/ebitiri.jpg);
  }
  
  .slider-item02 {
      background:url(../img/メニュー/hoiko-ro-.jpg);
  }
  
  .slider-item03 {
      background:url(../img/メニュー/ma-bo-douhu.jpg);
  }
  .slider-item04 {
      background:url(../img/メニュー/ramen.jpg);
  }
  
  .slider-item05 {
      background:url(../img/メニュー/tinjaoro-su-.jpg);
  }
  
  .slider-item06 {
      background:url(../img/メニュー/tinjaoro-su-2.jpg);
  }
  .slider-item07 {
      background:url(../img/メニュー/what.jpg);
  }
  
  .slider-item08 {
      background:url(../img/メニュー/yu-rinti-.jpg);
  }
  
  .slider-item {
      width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
      height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
      background-repeat: no-repeat;/*背景画像をリピートしない*/
      background-position: center;/*背景画像の位置を中央に*/
      background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
      max-height: 400px;
      object-fit: cover;
      border-radius: 0.5rem;
      border: 3px solid#bd9a0a;
  }
  
  /*矢印の設定*/
  
  .slick-prev, 
  .slick-next {
      position: absolute;
      z-index: 3;
      top: 38%;
      cursor: pointer;/*マウスカーソルを指マークに*/
      outline: none;/*クリックをしたら出てくる枠線を消す*/
      border-top: 2px solid #fff;/*矢印の色*/
      border-right: 2px solid #fff;/*矢印の色*/
      height: 25px;
      width: 25px;
  }
  
  .slick-prev {/*戻る矢印の位置と形状*/
      left:2.5%;
      transform: rotate(-135deg);
  }
  
  .slick-next {/*次へ矢印の位置と形状*/
      right:2.5%;
      transform: rotate(45deg);
  }
  
  /*ドットナビゲーションの設定*/
  
  .slick-dots {
      position: relative;
      z-index: 3;
      text-align:center;
      margin:-50px 0 0 0;/*ドットの位置*/
  }
  
  .slick-dots li {
      display:inline-block;
      margin:0 5px;
  }
  
  .slick-dots button {
      color: transparent;
      outline: none;
      width:8px;/*ドットボタンのサイズ*/
      height:8px;/*ドットボタンのサイズ*/
      display:block;
      border-radius:50%;
      background:#fff;/*ドットボタンの色*/
  }
  
  .slick-dots .slick-active button{
      background:#333;/*ドットボタンの現在地表示の色*/
  }

.main_menu_detail {
    font-size: 40px;
    font-family:'Noto Serif JP', serif;
    text-align: center;
    padding-top: 10px;
}

.main_menu_detail_b {
    font-size: 20px;
    font-family:'Noto Serif JP', serif;
    text-align: right;
    padding-top: 30px;
    padding-right: 60px;
}

  .main_staff{
    background-image: url(../img/red_paper.jpeg);
    width: 100%;
    height: 1000px;
    margin-top: -80px;
    padding-top: 80px;
  }

.main_staff_text {
    color: #fffadd;
    font-size: 48px;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    padding-top: 60px;
}

.main_staff_subtext {
    color: #fffadd;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

.staff_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 20px;
    padding: 100px 20px 20px 20px;
}

.grid_item_1 {
    background-color: #fffadd;
    text-align: center;
    border-radius: 0.5rem;
}
.grid_item_2 {
    background-color: #fffadd;
    text-align: center;
    border-radius: 0.5rem;
}
.grid_item_3 {
    background-color: #fffadd;
    text-align: center;
    border-radius: 0.5rem;
}
.grid_item_4 {
    background-color: #fffadd;
    text-align: center;
    border-radius: 0.5rem;
}

.pic_rin {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.pic_katsu {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.pic_shiho {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.pic_shu {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    object-position: 1px;
}

.main_staff_name {
    padding-top: 40px;
    font-size: 40px;
    font-family: 'Noto Serif JP', serif;
    transition: color 1s;
}

/* .main_staff_name:hover {
    color: #7d0000;
} */

a:hover{
    color: #bd9a0a;
}


.main_question {
    padding-bottom: 80px;
    margin-top: -80px;
    padding-top: 80px;
}

.main_question_text {
    color: #333;
    font-size: 48px;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    padding-top: 60px;
}

.main_question_subtext {
    color: #333;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
}


.accordion-area{
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin:0 auto;
}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area section {
	border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;
    
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
	margin:0 3% 3% 3%;
    padding: 3%;
}

.main_footer {
    width: 100%;
    height: 900px;
    background-color: #7d0000;
    margin-top: 10px;
}

.main_footer_img {
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #fffadd;
}

.footer_maintext {
    color: #fffadd;
    font-size: 48px;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    padding-top: 60px;
}

.footer_subtext {
    color: #fffadd;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
}

.footer_shop_detail {
    color: #fffadd;
    font-size: 15px;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
}

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 9999999;
      background:#7d0000;
      text-align:center;
      color:#fff;
    }
    
    /* Loading画像中央配置　*/
    #splash_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    /* Loading アイコンの大きさ設定　*/
    #splash_logo img {
      width:260px;
    }
    
    /* fadeUpをするアイコンの動き */
    .fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }